# DATABASE
DB_DRIVER=postgresql+psycopg
DB_HOST=localhost
DB_PORT=5432
DB_NAME=metrocali_data_quality
DB_USER=data_quality
DB_PASSWORD=Metro2026*

USE_FAKE_CONNECTION_REPOSITORY=false
PASSWORD_PLAINTEXT_MODE=true

# BROKER
VALKEY_URL=redis://localhost:6379
DATA_QUALITY_QUEUE=catalog_events_queue

